# Manipulação de dados
pandas==2.2.3
numpy==2.2.4
pyarrow==19.0.1

# Visualização
matplotlib==3.10.3
seaborn==0.13.2
plotly==6.0.1
altair==5.5.0
pydeck==0.9.1

# Streamlit e extensões
streamlit==1.44.1
streamlit-aggrid==1.1.2
streamlit-nested-layout==0.1.4
streamlit-tags==1.2.8
st-gsheets-connection==0.1.0

# Google / APIs
google-api-python-client==2.169.0
google-auth==2.38.0
gspread==5.12.4
gspread-dataframe==4.0.0
gspread-pandas==3.3.0
gspread-formatting==1.2.1

# Excel e documentos
openpyxl==3.1.5
XlsxWriter==3.2.3
python-docx==1.1.2

# Selenium / Web
selenium==4.35.0
webdriver-manager==4.0.2

# PDF e relatórios
weasyprint==65.0
pdfkit==1.0.0

# Extras úteis
sidrapy==0.1.4
sqlparse==0.5.3
sql_metadata==2.15.0
validators==0.34.0
Unidecode==1.4.0
python-decouple==3.8
python-dotenv==1.1.1
num2words
# Projeto próprio
siconfipy @ git+https://github.com/pedrocastroo/siconfipy.git@c1b1de8a1c765741261591f7a8c7e3448a77a925